# stuff to display listing

<h1>Enter a date below</h1>
  <form action='/booking/all' method='post'>
  <label for='date'>
    Date:
    <input type='date' name='date'>
  </label>
  <input type='submit' value='Request booking'>
  </form>
