<form action='/users/edit'>
  <label for='Edit personal details'>
    <input type='submit' value='Edit personal details'>
  </label>
</form>

<form action='/property/new'>
  <label for='Add Property'>
    <input type='submit' value='Add Property'>
  </label>
</form>
