<form action='/users/edit'>
  <label for='Edit Personal Details'>
    <input type='submit' value='Edit Personal Details'>
  </label>
</form>

<form action='/property/new'>
  <label for='Add Property'>
    <input type='submit' value='Add Property'>
  </label>
</form>


<form action='/property/edit'>
  <label for='Edit Property Details'>
    <input type='submit' value='Edit Property Details'>
  </label>
</form>
