<form action='/users/edit'>
  <label for='Edit Personal Details'>
    <input type='submit' value='Edit Personal Details' class='myButton'>
  </label>
</form>

<form action='/property/new'>
  <label for='Add Property'>
    <input type='submit' value='Add Property' class='myButton'>
  </label>
</form>

  <form action='/property/all'>
    <label for='View all properties'>
      <input type='submit' value='View Properties' class='myButton'>
    </label>
</form>
