<form action='/booking/all' method='post'>
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id">
  <input type="hidden" name="pending" value=false>
  <input type="hidden" name="approved" value=false>
  <input type="hidden" name="confirmed" value=false>
  <input type="hidden" name="rejected" value=false>
  <input type="hidden" name="cancelled" value=true>
  <input type="hidden" name="completed" value=false>
  <input type='submit' value="cancel">
</form>
