<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Arrrgbnb!</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/application.css">
  </head>

  <body>
    <%= partial :welcome %>
    <%= partial :flash %>
    <%= yield %>
  </body>
</html>
